<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto_Deteccion_Fraude_ACIF104.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Proyecto_Deteccion_Fraude_ACIF104.Properties.Settings>
            <setting name="CadenaConexion" serializeAs="String">
                <value>Server=(localdb)\MSSQLLocalDB;Database=FraudeDB;Trusted_Connection=True;</value>
            </setting>
            <setting name="RutaPython" serializeAs="String">
                <value />
            </setting>
            <setting name="UmbralFraude" serializeAs="String">
                <value>0</value>
            </setting>
        </Proyecto_Deteccion_Fraude_ACIF104.Properties.Settings>
    </userSettings>
</configuration>